.footer {
    position: relative;
    background-color: #f8f9fa; /* Light gray background for the footer */
    padding: 20px;
    text-align: right;
}

.redBar {
    height: 20px; /* Height of the red bar */
    background-color: #ce181e; /* Red color for the bar */
    position: relative;
    bottom: 0; /* Position it at the bottom of the footer */
    left: 0;
    width: 100%; /* Full width */
    margin: -10px -10px -1px -10px;
}
